body {
  margin: 0;
  padding: 0;
  background-color: cornsilk;
}
.wrapper {
  width: 75%;
  margin: 0 auto;
}

.wrapper > div {
  display: inline-block;
}
.ponel {
  font-family: "Courier New", Courier, monospace;
  width: 15%;
  background-color: rgba(173, 73, 73, 0.999);
  position: fixed;
  height: 90%;
  left: -4px;
}

main {
  width: 60%;
  vertical-align: top;
  padding: 25px 5px;
  margin-left: 25%;
}

.links > a {
  display: block;
  margin-top: 15%;
}
.ponel a {
  color: rgb(88, 83, 83);
  text-decoration: none;
}
.links {
  padding: 0 25px;
}
img {
  display: block;
}
header {
  background-color: darkred;
  position: fixed 0 0 0 0;
}
nav {
  padding: 1px 25px;
  margin: 0 auto;
}
.few {
  text-align: end;
  vertical-align: top;
}
.few > a {
  text-decoration: none;
  margin: 0px 12px;
  padding: 3px 13px;
  background-color: rgba(255, 255, 255, 0.555);
  color: purple;
  position: relative;
  top: -50px;
}
