* {
  margin: 0;
}
header {
  background-color: #000;
}
header img {
  height: 70px;
}
.headeryh {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  max-width: 1040px;
  position: fixed;
  margin: 0px 150px;
  background-color: #000;
}
nav > a {
  font-size: 1.2em;
  text-decoration: none;
  margin-left: 25px;
  color: rgb(46, 168, 62);
  padding: 0px 10px 0px 0px;
}
